html, body{
    margin: 0;
    padding: 0;
}

#container { 
    display: flex;
    flex-direction: column;    
    align-items: center;       
    height: 100%;
    background-color: #eef5fb;        
}   

/* ---------------헤더 시작---------------- */
#header{
    display: flex;
    width: 1000px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 239, 246);
    position: fixed;
    margin-top: 0;
    z-index: 10;
}

#logo{
    width: 10%;
    height: 100%;
    padding: 0;
}

#dsu{
    position: relative;
    width: 120px;
    height: 120px;
    box-shadow: 4px 4px 9px skyblue;
    border: 3px solid rgb(141, 178, 193);
}

#location{
    display: flex;
    justify-content: center;
    width: 14%;
    height: 100%;
}   

#food{
    display: flex;
    justify-content: center;
    width: 14%;
    height: 100%;
}

#festival{
    display: flex;
    justify-content: center;
    width: 14%;
    height: 100%;
}

.head_a{
    width: 100%;
}

.head_but{
    width: 100%;
    height: 100%;
    font-family: "휴먼옛체";
    font-size: 25px;
    font-weight: 10px;
    border: none;
    background-color: rgb(221, 239, 246);
}

#location{
    margin-left: 22px;
}

.head_but:hover{
    background-color: gainsboro;
}

#search{
    width: 40%;
    height: 98%;
    margin-bottom: 3px;
}

#sch{
    width: 410px;
    height: 43px;
    margin: 2px 5px 2px 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    border: 2px solid skyblue;
}

#mypage{
    display: flex;
    justify-content: right;
    margin-right: 10px;
    align-items: center;
    width: 8%;
    height: 100%;
}

#mypagelogo{
    width: 40px;
    height: 40px;
}
/* -------------헤더 끝--------------- */

/* -------------센터 시작--------------- */
/* 제목 */
#title {
    width: 1000px;              
    height: 140px;               
    padding-top: 150px;
    padding-bottom: 80px;        
    display: flex;              
    justify-content: center;    
    align-items: center; 
    font-size: 15pt;
    text-align:center;
    font-family:'휴먼옛체';
    background-color: white;
}
/* 첫 사진 공간 */
.picture {
    width: 1000px;              
    height: 400px;               
    display: flex;              
    justify-content: center;    
    align-items: center;   
    background-color: white;
    justify-content: space-around;
}
/* 첫 사진 개인 */
#picture_item_1{
    width: 100%;
}
/* 두 번째 사진 공간 */
#picture_2{
    height: 350px;
}
/* 두 번째 사진 개인 */
.picture_item_2{
    width: 490px;
    height:90%;
}
/* 설명란 */
.descript{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    line-height: 40px;
    background-color: white;
    font-family: '굴림';
    font-weight: bold; 
}
/* 첫 번째 설명란 */
#descript_1 { 
    height: 250px;               
}
/* 두 번째 설명란 */
#descript_2 { 
    height: 180px;               
}
/* 지도, 이용안내 공간 */
#information {
    width: 1000px;
    height: 350px;
    display: flex;
    background-color: white;
    justify-content: space-around;
}
/* 지도 개인 */
#map { 
    display: flex;
    width: 40%;
    height: 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 20px;
}
/* 이용 안내 개인 */
#guide {
    display: flex;
    width: 50%;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size:12pt;
    font-weight:bold;
    line-height:35px;
}

#guide_info {
    height: 300px;
    display: flex;
    align-items: center;
}

#guide_left > div { 
    padding-bottom:15px;
}

#guide_left { 
    margin-right: 50px;
    width: 150px;
    text-align: center;
    padding-top: 15px;
}

#guide_right > div { 
    width: 350px;
    padding-bottom: 14px;
}

/* -------------센터 끝--------------- */

/* -------------바텀 시작--------------- */
#bottom{
    display: flex;
    width: 1000px;
    height: 70px;
    justify-content: space-between;
    /* align-items: center; */
    /* margin-bottom: 10px ; */ 
    background-color: rgb(221, 239, 246)
}

#site{
    margin-left: 8px;
    width: 250px;
    height: 100%;
}

#weather{
    margin-right: 15px;
}

.bot{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding-left: 5px;
    margin-top: 18px;
}

#reference{
    font-size: small;
    margin-top: 12px;
    margin-right: 150px;
    /* 날씨 API 넣고 마진 수정하기 */
}
/* -------------바텀 끝--------------- */